# # Node
# **/node_modules/

# # Logs e temporários
# *.log
# .DS_Store

# # Vite build
# front_end/dist/

# !front_end/.env

# #.env
# back_end/.env
# front_end/.env

# Ignorar ambiente
.env
.env.local
.env.*.local

# Ignorar dependências
node_modules/

# Ignorar build
dist/
build/

# Cache e logs
.vite/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
*.code-workspace
