@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap");

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ROOT */
:root {
  --fundo-principal: #1e1e2f;
  --texto: #f8f8f2;
  --btn-add: #8be9fd;
  --btn-hover: #50fa7b;
  --task-concluida: #6272a4;
  --task-remove: #ff5555;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* GERAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

input {
  font-family: system-ui, sans-serif;
}

button {
  all: unset;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* APP */
.app_components {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* LOGIN */
.login__container {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  /* justify-content: center; */
  align-items: center;
  background-color: var(--fundo-principal);
  color: var(--texto);
  flex: 1;

  > label {
    margin-top: 15px;
    font-size: 15px;
  }
  > input {
    padding: 5px;
    font-size: 15px;

    margin-top: 5px;
    border: 2px solid var(--texto);
    border-radius: 4px;
  }
}

.btn__enter {
  font-family: "Segoe UI", sans-serif;
  text-align: center;
  margin-top: 15px;
  padding: 7px 40px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--texto);
  transition: all 0.2s ease;
  transition-property: border;
  background-color: var(--task-concluida);
}

.btn__enter:hover {
  border: 2px solid var(--task-concluida);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.btn__enter:focus {
  border: 2px solid var(--task-concluida);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* HEADER */
.header {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  /* margin: 10px; */
  padding: 12px 20px;
  background-color: var(--fundo-principal);
  color: var(--texto);
}

/* .header {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  color: white;
} */

.header__usuario {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__nome {
  font-size: 16px;
}

.btn__logout {
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.btn__logout:hover {
  text-decoration: underline;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* HOME */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 10px; */
  /* padding: 10px; */
  background-color: var(--texto);
  overflow: hidden; /* Impede que a task__list estoure */
}

.task__add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 20px 5px 0px 5px;
  border-radius: 8px;
}

.btn__add {
  padding: 5px 8px;
  color: var(--fundo-principal);
  font-size: 20px;
  border-radius: 100%;
  background-color: var(--fundo-principal);
  color: var(--texto);
}

.btn__add:hover {
  background-color: var(--texto);
  color: var(--fundo-principal);
}

.task__list {
  flex: 1;
  overflow-y: auto;
  width: 100%;
  border-radius: 5px;
  background-color: var(--texto);
  padding: 10px;
}

.task__list-item {
  font-family: system-ui, sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--fundo-principal);
  color: var(--texto);
  margin: 5px;
  border-radius: 8px;
}

.input__new-task {
  margin-right: 10px;
  padding: 8px 5px;
  font-size: 18px;
  border: 1px solid var(--fundo-principal);
  border-radius: 4px;
  min-width: 245px;
}

.input__edit {
  padding: 5px;
  font-size: 15px;
  border: 1px solid var(--fundo-principal);
  border-radius: 4px;
  min-width: 245px;
}

.btn__task {
  display: flex;
}

.btn__remove {
  border-radius: 100%;
  margin: 5px;
  padding: 5px 8px;
  color: var(--task-remove);
  transition: border-color 0.25s;
}

.btn__remove:hover {
  color: var(--texto);
  background-color: var(--task-remove);
}

.btn__edit {
  border-radius: 100%;
  margin: 5px;
  padding: 5px 8px;
  color: var(--task-concluida);
  transition: border-color 0.25s;
}

.btn__edit:hover {
  color: var(--fundo-principal);
  background-color: var(--texto);
}

.btn__cancel {
  border-radius: 100%;
  margin: 5px;
  padding: 5px 8px;
  color: var(--task-remove);
  transition: border-color 0.25s;
}

.btn__cancel:hover {
  color: var(--texto);
  background-color: var(--task-remove);
}

.btn__save {
  border-radius: 100%;
  margin: 5px;
  padding: 5px 8px;
  color: var(--task-concluida);
  transition: border-color 0.25s;
}

.btn__save:hover {
  color: var(--fundo-principal);
  background-color: var(--texto);
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* TOAST */
/* === BASE TOAST === */
.toast-body {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-family: "Segoe UI", sans-serif;
  padding: 12px 16px 12px 20px !important;
  border-radius: 8px !important;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
}

/* === SUCESSO === */
.toast-success {
  background-color: #e6ffed !important;
  color: #2e7d32 !important;
}

.toast-success::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 6px;
  background-color: #2e7d32;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.Toastify__progress-bar--success {
  background: #2e7d32 !important;
}

/* === ERRO / EXCLUSÃO === */
.toast-error {
  background-color: #fff !important;
  color: #d32f2f !important;
}
.toast-error::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 6px;
  background-color: #d32f2f;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.Toastify__progress-bar--error {
  background: #ff5e5e !important;
}

/* === INFORMAÇÃO === */
.toast-info {
  background-color: #e3f2fd !important;
  color: #1565c0 !important;
}
.toast-info::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 6px;
  background-color: #1565c0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.Toastify__progress-bar--info {
  background: #42a5f5 !important;
}

/* === ALERTA === */
.toast-warning {
  background-color: #fff3cd !important;
  color: #a97000 !important;
}
.toast-warning::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 6px;
  background-color: #a97000;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.Toastify__progress-bar--warning {
  background: #ffc107 !important;
}
