@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
/* ----- FAZER O RESET ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER //////////////////////////// */
.header {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  /* margin: 10px; */
  padding: 12px 20px;
  background-color: var(--fundo-principal);
  color: var(--texto);
}
